.block-formula{
    text-align: center;
}

.block-formula span.inline{
    padding-left: 30px;
}

.highlight_it{
    font-weight: bold;
    font-style: italic;
}

.highlight{
    font-weight: bold;
}

canvas{
    padding-right: 100px;
    padding-left: 50px;
}